.checkbox-wrapper {
    position: relative;
    height: 24px;
    min-width: 24px;
    max-width: 24px;
    box-sizing: border-box;
}

.checkbox-wrapper::before {
    box-sizing: border-box;
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 6px;
    border: 2px solid #C1C1C1;
    background: #FFF;
    top: 0;
    left: 0;
    transition: background-color 400ms, border-color 400ms;
}

.checkbox-wrapper_active::before {
    border-color: #0049D9;
    background: #005FFD url("../../assets/icons/tick_icon.svg");
    background-size: contain;
    transition: background-color 400ms, border-color 400ms;
}

.checkbox {
    display: none;
}