.chip {
    position: relative;
    display: inline-block;
    padding: 6px 18px 6px 12px;
    max-width: 150px;

    border-radius: 8px;
    background-color: #F4F4F4;

    cursor: auto;
}

.chip__flex-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.text {
    user-select: none;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-right: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px; /* 100% */}

.delete__button {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translate(0, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-image: url("../../assets/icons/close_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: background-color 300ms;
}

.delete__button:hover {
    background-color: #d2d2d2;
    transition: background-color 300ms;
}