.chip {
    display: inline-block;
    padding: 6px 8px 6px 12px;
    max-width: 150px;

    border-radius: 8px;
    background-color: #F4F4F4;
    cursor: pointer;
    transition: background-color 300ms;
}

.chip_non-multiselect {
    background-color: #ffffff;
    max-width: none;
    width: 100%;
}

.chip:hover {
    background-color: #d2d2d2;
    transition: background-color 300ms;
}

.chip__flex-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.text {
    user-select: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-right: 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
}

.delete__button {
    width: 12px;
    height: 12px;
    background-image: url("../../assets/icons/close_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-color 300ms;
}