.dropdown-wrapper {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-width: 200px;

    font-family: Inter, serif;
}

.dropdown__header {
    margin-bottom: 4px;
    user-select: none;

    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    text-align: left;
}

.dropdown {
    box-sizing: border-box;
    width: 100%;
    min-height: 46px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    border-radius: 10px;
    border: 1px solid rgba(193, 193, 193, 1);

    cursor: pointer;
}

.dropdown__repletion {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
    gap: 4px;
    align-items: center;

    overflow: hidden;
    overflow-y: scroll;
    max-height: 100px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.dropdown__repletion_not-expandable {
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.dropdown__repletion::-webkit-scrollbar {
    display: none;
}

.dropdown__placeholder {
    color: #C1C1C1;
    user-select: none;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.dropdown__arrow {
    height: 20px;
    min-width: 20px;
    margin-left: 5px;

    background-image: url("./assets/icons/arrow_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: transform 150ms;
}

.dropdown__arrow_active {
    transform: rotate(180deg);
    transition: transform 150ms;
}

.dropdown__dropped-list {
    position: absolute;
    top: calc(100% + 8px);
    width: 100%;
    box-sizing: border-box;

    border-radius: 12px;
    background: #FFF;

    box-shadow: 0 4px 32px 0 rgba(51, 51, 51, 0.15);

    opacity: 0; /* Начинаем с нулевой прозрачности */
    animation: fadeIn 200ms ease-in-out forwards; /* Применяем анимацию fadeIn */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dropdown__dropped-list_disappear {
    opacity: 1;
    animation: fadeOut 200ms ease-in-out forwards; /* Применяем анимацию fadeIn */
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}